extends layout
block append scripts
  script(src='/static/js/defects.js')
  script
    $(function() {
      $("table#defects").tablesorter();
    });

block content
  .container
    .content
      if version_one
        h1 VersionOne - Number of Open Defects
        if version_one.error
          p The version_one API returned the following error:
          p.alert!=trace(version_one.error)
        else
          div
            - each v, k in version_one.data.byAge
              hr
              h2.title
                span.arrow \u25B6
                span.sevcount #{v.total_count}
                #{k}
                for vcount, ksev in v.sev_count
                  if vcount != 0
                      if ksev === "1"
                        span.sev.sev1(title="Severity 1") #{vcount}
                      if ksev === "2"
                        span.sev.sev2(title="Severity 2") #{vcount}
                      if ksev === "3"
                        span.sev.sev3(title="Severity 3") #{vcount}
                      if ksev === "4"
                        span.sev.sev4(title="Severity 4") #{vcount}
                      if ksev === "?"
                        span.sev.sevq(title="Severity Unknown") #{vcount}
              div.table.collapsible
                table#defects.sortable.table-striped.hide
                  thead
                    tr
                      th Created
                      th Status
                      th Severity
                      th Changed By
                      th Defect Name
                  tbody
                    if v.defects.length
                      - each asset in v.defects
                        tr
                          td #{new Date(asset.attributes['CreateDate']).getMonth()+1}/#{new Date(asset.attributes['CreateDate']).getDate()}
                          td #{asset.attributes['Status.Name'] || '-'}
                          td(class="sev#{asset.severity}") #{asset.attributes['Custom_Severity.Name'] || '-'}
                          td
                            a(href="http://#{related_apis.version_one.host}/#{related_apis.version_one.name}/member.mvc/Summary?oidToken=#{asset.relations['ChangedBy'].idref}") #{asset.attributes['ChangedBy.Name'] || '-'}
                          td
                            a(href="http://#{related_apis.version_one.host}/#{related_apis.version_one.name}/defect.mvc/Summary?oidToken=#{asset.id}") #{asset.attributes['Name']}
                    else
                      p No defects!
