extends layout
block append scripts
  script(src='/static/js/defects.js')
  script
    $(function() {
      $("table#defects").tablesorter();
    });

block content
  .container
    .content
      if version_one
        h1 VersionOne - Open Defects
        if version_one.error
          p The version_one API returned the following error:
          p.alert!=trace(version_one.error)
        else
          div
            - each v, k in version_one.data.byAge
              hr
              h2.title \u25B6 #{k} Day(s) old - #{v.length}
              div.table.collapsible
                table#defects.sortable.table-striped.hide
                  thead
                    tr
                      th Created
                      th Status
                      th Severity
                      th Changed By
                      th Defect Name 
                  tbody
                    - each asset in v
                      tr
                        td #{new Date(asset.attributes['CreateDate']).getMonth()+1}/#{new Date(asset.attributes['CreateDate']).getDate()}
                        td #{asset.attributes['Status.Name'] || '-'}
                        td #{asset.attributes['Custom_Severity.Name'] || '-'}
                        td 
                          a(href="http://#{related_apis.version_one.host}/#{related_apis.version_one.name}/member.mvc/Summary?oidToken=#{asset.relations['ChangedBy'].idref}") #{asset.attributes['ChangedBy.Name'] || '-'}
                        td
                          a(href="http://#{related_apis.version_one.host}/#{related_apis.version_one.name}/defect.mvc/Summary?oidToken=#{asset.id}") #{asset.attributes['Name']}

