extends layout

block content
  | <script >
  | $(function() {
  |   $("table#defects").tablesorter();
  | });
  | </script>
  .container
    .content
      if version_one
        h1 Version One Open Defects
        if version_one.error
          p The version_one API returned the following error:
          p.alert!=trace(version_one.error)
        else
          div
            - var byAge = new Object();
            - byAge['Less than One'] = [];
            - byAge['1+'] = [];
            - byAge['5+']  = [];
            - byAge['10+']  = [];
            - each asset, i in version_one.data.defects
              - var defectCreateDate = new Date(asset.attributes['CreateDate']);
              - var now = new Date();
              - var diff = Math.ceil((now.getTime()-defectCreateDate.getTime())/(1000*60*60*24))
              - if (diff <= 1)
                - byAge['Less than One'].push(asset)
              - if (diff <= 5 && diff > 1)
                - byAge['1+'].push(asset)
              - if (diff <= 10 && diff > 5)
                - byAge['5+'].push(asset)
              - if (diff > 10)
                - byAge['10+'].push(asset)
            - each v, k in byAge
              hr
              h2 #{k} Day(s) old
              table#defects.sortable.table-striped
                thead
                  tr
                    th Created
                    th Priority
                    th Status
                    th Project
                    th Name
                tbody
                  - each asset in v
                    tr
                      - var statusName = asset.attributes['Status.Name'] || 'New';
                      - var priority = asset.attributes['Priority.Name'] || 'Unset';
                      // a hack.
                      td #{new Date(asset.attributes['CreateDate']).getMonth()+1}/#{new Date(asset.attributes['CreateDate']).getDate()}
                      td #{priority}
                      td #{statusName}
                      td #{asset.attributes['Scope.Name']}
                      td
                        a(href="http://#{related_apis.version_one.host}/#{related_apis.version_one.name}/defect.mvc/Summary?oidToken=#{asset.id}") #{asset.attributes['Name']}
