extends layout

block append css
  link(href='/static/css/devhealth.less', rel='stylesheet/less', type='text/css')

block content
  | <script >
  | $(function() {
  |   $('.table-stats').tablesorter();
  | });
  | </script>
  .container
    .content
      h1 Development Health
      if github.errors == {}
        p Error:
        each error in github.errors
          p #{error}

      each ticket_info, ticket_type in github.data
        h2 Repo: #{ticket_info.repo}
        hr

        if ticket_info.errors
          p API returned the following error:
          p.alert #{ticket_info.errors.code}: #{ticket_info.errors.code

        each metric in ticket_info.metrics
          //!{JSON.stringify(metric)}
          include includes/github_stats
