extends layout

block append css
  link(href='/static/css/devhealth.less', rel='stylesheet/less', type='text/css')

block content
  | <script >
  | $(function() {
  |   $('.table-stats').tablesorter();
  | });
  | </script>
  .container
    .content
      if github
          h1 Development Health
          if github.error
            p An error occurred: #{github.error}
          else if github.data.error
            p API returned the following error:
            p.alert #{github.data.error.code}: #{github.data.error.message}
          else

            h2 Repo: #{github.data.repo}
            hr

            each metric in github.data.metrics
              h3 #{metric.name}
              table.table.table-striped.table-bordered.table-condensed.table-stats
                thead
                  tr
                    th.username Username
                    th #{metric.unit}
                tfoot
                  th
                  th #{metric.aggregate}
                tbody
                  each stat in metric.stats
                    each key, val in stat
                      tr
                        td
                          a(href='https://github.com/#{val}/')#{val}
                        td #{key}

