extends layout

block append css
  link(href='/static/css/highscores.less', rel='stylesheet/less', type='text/css')

block content
  .container
    .content
      if highscores
        h1 #{project} LEGENDS
        if highscores.error
          p The highscores API returned the following error:
          p.alert!=trace(highscores.error)
        else
          table
            each row in highscores.data
              tr
                td.place=row.place
                td.name=row.username
                td.score=row.score
                td.modifier=row.modifier
