extends layout

block content
  .container-fluid
    .row-fluid
      .span3
        .well.sidebar-nav
          ul.nav.nav-list
            li.nav-header Links
            each uri, name in links
              li
                a(href='#{uri}') #{name}
      .span9
        .hero-unit
          h1= name
          h2= description

      .span9
        if contacts
          h1 Contacts
          .contacts
          for team,teamname in contacts
            include includes/team_contacts

        if environments
          .environment
            h1 Environment
            ul
              for environ in environments
                h4 #{environ.type} 
                ul
                  li #{environ.platforms} #{environ.regions}
                  if environ.url.auth.type == "basic"
                    li <a href=#{environ.url.auth.username}:#{environ.url.auth.username}@#{environ.url.url} >#{environ.url.url}</a>
                  else
                    a(href='#{environ.url.url}') #{environ.url.url}

    script(src='/static/jquery/jquery-1.7.1.min.js')
    script(src='/static/bootstrap/js/bootstrap.min.js')
