extends layout

block content
  .container-fluid
    .row-fluid
      .span3
        .well.sidebar-nav
          ul.nav.nav-list
            li.nav-header Links
            each uri, name in links
              li
                a(href='#{uri}') #{name}

        if events.length
          h1 Events
          ul
            for event in events
              li #{event.timestamp}: #{event.name} - #{event.description}
                if event.related_links
                  for link in event.related_links
                    a(href="#{link}") #{link}

      .span9
        .hero-unit
          p.small DevOps dashboard for
          h1 #{name}
          h2= description

        .row-fluid
          .span3
            h1 Contacts
            .contacts
              for team in contacts
                include includes/team_contacts
          .span3
            if environments.length
              include includes/environments

            if pagerduty
              hr
              include includes/pagerduty

            if versionone
              hr
              include includes/versionone

    script(src='/static/jquery/jquery-1.7.1.min.js')
    script(src='/static/bootstrap/js/bootstrap.min.js')
