extends layout

block append css
  link(href='/static/css/index.less', rel='stylesheet/less', type='text/css')

block append scripts
  script(src='/static/js/contacts.js')

block content
  #timeline
    include includes/timeline_event

  if errors.length
    #errors.alert.alert-error
      ul
        for error in errors
          li.error
            #{error}

  .container-fluid
    .row-fluid
      .span3
        #banner-block.ablock
          h1 #{name}
          h3= description

        #links-block.ablock
          h1 Links
          ul
            each uri, name in links
              li
                a(href='#{uri}') #{name}

      .span3
        #contacts-block.ablock
          h1 Contacts
            span#contacts-plus +
          .contacts
            ul
              for team in contacts
                include includes/team_contacts

      .span3
        if environments.length
          #environments-block.ablock
            include includes/environments

        if version_one
          #versionone-block.ablock.middleware-block
            include includes/version_one

        if new_relic
          #newrelic-block.ablock.middleware-block
            include includes/new_relic

        if dreadnot
          #dreadnot-block.ablock.middleware-block
            include includes/dreadnot

    script(src='/static/jquery/jquery-1.7.1.min.js')
    script(src='/static/bootstrap/js/bootstrap.min.js')
