extends layout

block append css
  link(href='/static/css/index.less', rel='stylesheet/less', type='text/css')

block append scripts
  script(src='/static/js/contacts.js')

block content
  #timeline
    include includes/timeline_event

  .container-fluid
    .row-fluid
      .span3
        #banner-block.ablock
          h1=project.name
          h3=project.description

        #links-block.ablock
          h1 Links
          ul
            each uri, name in project.links
              li
                a(href='#{uri}') #{name}

      .span3
        #contacts-block.ablock
          h1 Contacts
            span#contacts-plus \u25B6
          .contacts
            if pager_duty.config
              if pager_duty.error
                p.alert!=trace(pager_duty.error)
              else if pager_duty.data
                ul
                  for team in project.contacts
                      include includes/team_contacts

      .span3
        if project.environments.length
          #environments-block.ablock
            include includes/environments

        if version_one.config
          #versionone-block.ablock.middleware-block
            include includes/version_one

        if new_relic.config
          #newrelic-block.ablock.middleware-block
            include includes/new_relic

        if dreadnot.config
          #dreadnot-block.ablock.middleware-block
            include includes/dreadnot

    script(src='/static/jquery/jquery-1.7.1.min.js')
    script(src='/static/bootstrap/js/bootstrap.min.js')
