extends layout

block append css
  link(href='/static/css/index.less', rel='stylesheet/less', type='text/css')

block append scripts
  script(src='/static/js/event-timeline.js')

block content
  #timeline
  .container-fluid
    .row-fluid
      #banner.span3
        .well
          h1 #{name}
          h3= description

        .well.sidebar-nav
          ul.nav.nav-list
            li.nav-header Links
            each uri, name in links
              li
                a(href='#{uri}') #{name}

        if events.length
          h1 Events
          ul#events
            for event in events
              li
                p.timestamp #{event.timestamp}
                p.name #{event.name}
                p.description #{event.description}
                ul.related_links
                  if event.related_links
                    for link in event.related_links
                      li
                        a(href="#{link}") #{link}

      .span3
        h1 Contacts
        .contacts
          for team in contacts
            include includes/team_contacts

      .span3
        if environments.length
          include includes/environments

        if pagerduty
          hr
          include includes/pagerduty

        if versionone
          hr
          include includes/versionone

    script(src='/static/jquery/jquery-1.7.1.min.js')
    script(src='/static/bootstrap/js/bootstrap.min.js')
