extends layout

block content
  .container-fluid
    .row-fluid
      .span3
        .well.sidebar-nav
          ul.nav.nav-list
            li.nav-header Links
            each uri, name in links
              li
                a(href='#{uri}') #{name}
      .span9
        .hero-unit
          h1= name
          h2= description

      .span9
        if contacts
          .contacts
            team = contacts.ops
            team_name = "Ops Team"
            include includes/team_contacts

            team = contacts.security
            team_name = "Security Team"
            include includes/team_contacts

            team = contacts.support
            team_name = "Support Team"
            include includes/team_contacts

            team = contacts.dev
            team_name = "Dev Team"
            include includes/team_contacts

            team = contacts.product
            team_name = "Product Team"
            include includes/team_contacts
        if environments
          .environment
            ul
              each environ in environments
                li #{environ.type} #{environ.platforms} #{environ.regions}
                  a(href='#{environ.url.url}') #{environ.url.url}
                  if environ.url.auth.type == "basic"
                    .creds username: #{environ.url.auth.username}, password: #{environ.url.auth.username}

    script(src='/static/jquery/jquery-1.7.1.min.js')
    script(src='/static/bootstrap/js/bootstrap.min.js')
