extends layout

block append css
  link(href='/static/css/index.less', rel='stylesheet/less', type='text/css')

block append scripts
  script(src='/static/js/event-timeline.js')
  script(src='/static/js/contacts.js')

block content
  #timeline

  if errors.length
    #errors.alert.alert-error
      ul
        for error in errors
          li.error
            #{error}

  .container-fluid
    .row-fluid
      .span3
        #banner-block.ablock
          h1 #{name}
          h3= description

        #links-block.ablock
          h1 Links
          ul
            each uri, name in links
              li
                a(href='#{uri}') #{name}

        if events.length
          #events-block.ablock
            h1 Events
            ul#events
              for event in events
                li
                  p.timestamp #{event.timestamp}
                  p.name #{event.name}
                  p.description #{event.description}
                  ul.related_links
                    if event.related_links
                      for link in event.related_links
                        li
                          a(href="#{link}") #{link}

      .span3
        #contacts-block.ablock
          h1 Contacts
            span#contacts-plus +
          .contacts
            ul
              for team in contacts
                include includes/team_contacts

      .span3
        if environments.length
          #environments-block.ablock
            include includes/environments

        // oncall shows up in contacts list
        //if pagerduty
        //  #pagerduty-block.ablock.middleware-block
        //    include includes/pagerduty

        if versionone
          #versionone-block.ablock.middleware-block
            include includes/versionone

        if newrelic
          #newrelic-block.ablock.middleware-block
            include includes/newrelic

    script(src='/static/jquery/jquery-1.7.1.min.js')
    script(src='/static/bootstrap/js/bootstrap.min.js')
