extends layout

block content
  .container-fluid
    .row-fluid
      .span3
        .well.sidebar-nav
          ul.nav.nav-list
            li.nav-header Projects
            each name in projects
              if name !== 'dir'
                li
                  a(href='/p/#{name}') #{name}
            each uri, name in external_projects
              li
                a(href='#{uri}') #{name}
        .well.sidebar-nav
          ul.nav.nav-list
            li.nav-header Links
            each uri, name in links
              li
                a(href='#{uri}') #{name}
      .span9
        .hero-unit
          h1 All of the Dashboards
          h2

    script(src='/static/jquery/jquery-1.7.1.min.js')
    script(src='/static/bootstrap/js/bootstrap.min.js')
