extends layout

block append css
  | <style type="text/css">
  | #notes-form input{
  |   width: 300px;
  | }
  | .note{
  |   border-bottom: 1px dashed #ddd;
  |   padding: 16px 0;
  | }
  | .note p{
  |   line-height: 20px;
  | }
  | p.title{
  |   font-weight: bold;
  |   font-size: 17px;
  | }
  | .note div.body{
  |   font-size: 14px;
  |   padding: 0 5px;
  | }
  | p.links{
  |   padding-top: 5px;
  |   margin: 0;
  |   font-size: 11px;
  |   font-weight: bold;
  | }
  | </style>

block content
  .container
    .content
      h1 Release Notes

      if (errors)
        p.alert!=trace(errors)

      p
        | This will take some time, be patient.  The dates can be anyting that new Date() will parse and are inclusive.

      form(method="post", id="notes-form")
        label(for="start") Start
        input(type="text", name="start", value=start || new Date(new Date().valueOf() - 31 * 24 * 60 *60 * 1000))
        label(for="end") End
        input(type="text", name="end", value=end || Date())
        input(type="submit", value=" GO! ", style="margin-left: 50px; width: 70px; height: 30px;")

      p
        | NOTE: gutsy stops looking at pull requests when they were created one month before the start date since github returns pull requests in order of creation and doesn't allow filtering of any sort.

      hr(style="margin-top: 20px; margin-bottom: 0;")

      -var notes = notes

      if notes
        each note in notes
          div.note
            p.title
              =note.title
              | <nbsp/> -
              =format_time(note.merged_at)
              | <nbsp/>

            div.body
              !{markdown(note.body)}
              if note.v1.error
                !{trace(note.v1.error)}
              if note.v1.data
                !{note.v1.data}
            p.links
              | - <nbsp/>
              | merged
              nbsp
              i=note.merged_at
              | <nbsp/>
              a(href=note.link) on github
              if note.v1.href
                |  and
                | <nbsp/>
                a(href=note.v1.href) on V1


      -var start = start;
      -var end = end;
      -var cutoff = cutoff;

      if (start && end)
        p Notes between #{start} and #{end}