.dreadnot
	h1 DreadNot
	if dreadnot.error
		p API returned the following error:
		p.alert #{dreadnot.error}
	else
		for stack in dreadnot.data
			p
				b #{stack.name}:
				br
				span deployed #{stack.deploy.name} at #{stack.deploy.time} in #{stack.deploy.region}
				br
				a(href=stack.github_href+'/commit/'+stack.deploy.from_revision)=stack.deploy.from_revision
				span to
				nbsp
				a(href=stack.github_href+'/commit/'+stack.deploy.to_revision)=stack.deploy.to_revision
				span by #{stack.deploy.user}
				if stack.deploy.finished
					span finished
				else
					span didn't finish
				span and
				if stack.deploy.success
					span succeeded
				else
					span didn't succeed
