.pagerduty
  h1 PagerDuty
  if pagerduty.error
    p #{pagerduty.error}
  else if pagerduty.data.error
    p API returned the following error:
    p.alert #{pagerduty.data.error.code}: #{pagerduty.data.error.message}
  else
    h4 Currently On Call:
    p
    ul
      li
        strong  #{pagerduty.data.entries[0].user.name} <br>
        | from: #{pagerduty.data.entries[0].start}<br>
        |   to: #{pagerduty.data.entries[0].end}
    p
    if pagerduty.data.entries[1]
      h4 Next On Call:
      p
      ul
        li
          strong  #{pagerduty.data.entries[1].user.name} <br>
          | from: #{pagerduty.data.entries[1].start}<br>
          | to: #{pagerduty.data.entries[1].end}
