.pager_duty
  h1 PagerDuty
  if pager_duty.error
    p #{pager_duty.error}
  else if pager_duty.data.error
    p API returned the following error:
    p.alert #{pager_duty.data.error.code}: #{pager_duty.data.error.message}
  else
    h4 Currently On Call:
    p
    ul
      li
        strong  #{pager_duty.data.entries[0].user.name} <br>
        | from: #{pager_duty.data.entries[0].start}<br>
        |   to: #{pager_duty.data.entries[0].end}
    p
    if pager_duty.data.entries[1]
      h4 Next On Call:
      p
      ul
        li
          strong  #{pager_duty.data.entries[1].user.name} <br>
          | from: #{pager_duty.data.entries[1].start}<br>
          | to: #{pager_duty.data.entries[1].end}
