li
  #{team.team_name}
  ul.unstyled.contact-team
    each contact in team.members
      li
        span.plus \u25B6
        if contact.name
          if contact.oncall
            span.contact-name.on-call #{contact.name}
          else
            span.contact-name #{contact.name}
        else
          if contact.oncall
            span.contact-name.on-call #{contact.sso}
          else
            span.contact-name #{contact.sso}
        ul
          for uri,type in contact
            if type == "github" || type == "mailto"
              li #{type}: <a href=#{uri}>#{uri}</a>
            else
              li #{type}: #{uri}
